html {
  font-family: Montserrat, sans-serif;
  background-color: #f89b56;
}

.blondie {
  font-family: Cinzel, serif;
  color: #fded1e;
  display: inline-block;
}

.quotes {
  font-family: Montserrat, serif;
  color: #fded1e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-60%);
  transform: translateY(-35%);
}

.two {
  font-family: Montserrat, sans-serif;
  color: #231f20;
  display: inline-block;
}

.content {
  transform: translateY(30%);
}

.ybox {
  background-color: #fded1e;
}

.bbox {
  background-color: #231f20;
}
